@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{

    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
        
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--pale-blue) url(/images/pattern-background-desktop.svg) no-repeat;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

.card {
    width: 450px;
    background-color: white;
    color: var(--desaturated-blue);
    border-radius: 20px;
    margin: 50px auto;
    overflow: hidden;
}

.container {
    padding: 30px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container > * {
    margin: 13px 0;
}

.hero-img {
    width: 100%;
}

.title {
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 32px;
}

.order-description {
    line-height: 25px;
    color: var(--desaturated-blue);
    text-align: center;
}

.plan-container {
    width: 100%;
    font-weight: 700;
    background-color: var(--very-pale-blue);
    border-radius: 12px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plan-container a {
    color: var(--bright-blue);
    font-weight: 700;
    font-size: 13px;
}

.plan-container a:hover {
    opacity: 0.8;
    text-decoration: none;
}

.plan-description {
    line-height: 20px;
    margin-right: 75px;
}

.plan-container strong {
    color: var(--dark-blue);
    /* margin-right: 85px; */
}

.plan-description p {
    color: var(--desaturated-blue);
}

button {
    width: 100%;
    padding: 1rem 0;
    font-weight: 700;
    font-size: 0.9rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.proceed-btn {
    color: white;
    background-color: var(--bright-blue);
    box-shadow: 0 20px 30px -8px rgb(197 289 245);

}

.proceed-btn:hover {
    opacity: 0.8;
}

.cancel-btn {    
    color: var(--desaturated-blue);
    background-color: white;
    margin-top: 22px;
}

.cancel-btn:hover {
    color: black;
}
